.profile {
  background-color: #cfe9ef;
  width: 300px;
  margin: 20px;
  border: 2px solid #c8fdf5;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  display: block;
  max-width: 150px;
  height: auto;

  border-radius: 50%;
  background-color: #c8fdf5;
}

.description {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.location {
  color: gray;
  text-align: center;
}

.tag {
  color: gray;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  flex-grow: 1;
  height: 70px;
  background-color: #c8fdf5;
  border-top: 1px solid lightgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats li:not(:last-child) {
  border-right: 1px solid lightgrey;
}

.label {
  color: gray;
}

.quantity {
  font-weight: bold;
}
