.statistics {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cfe9ef;
  padding-top: 10px;
}

.title {
  text-align: center;
}

.stat-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 50px;
  height: 50px;
}

.label {
  margin-bottom: 10px;
  font-size: 13px;
  color: #315759;
}
.percentage {
  font-weight: bold;
  color: #315759;
}
