.tableBody {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: whitesmoke;
}

.tableHead {
  height: 30px;
}

.tableHead th {
  background-color: #689eaf;
}

.tableRow {
  height: 30px;
}
.tableRow:nth-child(2n + 1) {
  background-color: lightsteelblue;
}

.tableRow:nth-child(2n) {
  background-color: powderblue;
}

.tableRow td {
  text-align: center;
}
